[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
Flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2 = "*"
flask-cors = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.7"
